@font-face {
  font-family: 'SfProDisplay';
  src: url('../fonts/Sf-Pro-Display-Bold.woff2') format('woff2'),
  url('../fonts/Sf-Pro-Display-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FormaDJR';
  src: url('../fonts/Forma-DJR-Cyrillic-Text-Regular.woff2') format('woff2'),
  url('../fonts/Forma-DJR-Cyrillic-Text-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SfPro';
  src: url('../fonts/Sf-Pro-Text-Regular.woff2') format('woff2'),
  url('../fonts/Sf-Pro-Text-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SfPro';
  src: url('../fonts/Sf-Pro-Text-SemiBold.woff2') format('woff2'),
  url('../fonts/Sf-Pro-Text-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SfPro';
  src: url('../fonts/Sf-Pro-Text-Bold.woff2') format('woff2'),
  url('../fonts/Sf-Pro-Text-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}