.text-h1 {
  font-size: 28px;
  letter-spacing: -1.45px;
  ;line-height: normal;
  font-weight: 700;
}

.text-body {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -1px;
  font-weight: 400;
}

.text-caption {
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.08px;
  font-weight: 400;
}